
.site-header {
  z-index: 100;
  width: 100%;
  position: fixed;
  background-color: #0e0e0e;
}
.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.left-box {
  display: flex;
  align-items: center;
}

.header-left {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.header-left-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 35px;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
}
.header-left-item:hover {
  color: #D87D4A;
}
.header-right {
  // margin-left: auto;
}
.header-right-link{
  // margin-left: 319px;
}
.header-button {
  padding: 14px 39px;
  cursor: pointer;
  background-color: #fcb72b;
  border: none;
  color: #fff;
}
.header-button:hover {
  background-color: #fff;
  color: #fcb72b;
  box-shadow: 0 0 0 2px #fcb72b;
}
.humburger_btn {
  z-index: 31;
  display: none;
}
.header-line{
  margin-top: 0;
  opacity: 0.2;
  // margin-bottom: 0;
}
@media only screen and (max-width: 820px) {
  .site-nav {
    display: none;
  }
  .header-left-logo{
    margin-right: auto;
  }
  .left-box {
    margin: 0 auto;
  }
  .humburger_btn {
    display: block;
    margin-right: 42px;
    border: none;
    background-color: #0e0e0e;
    order: -1;
  }
}
@media only screen and (max-width: 650px){
  .header-left-logo{
    margin-right: 0;
  }
  .humburger_btn{
    margin-right: 0px;
  }
}